
/* base styles, feel free to edit */
html, body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	height: 100%;
	font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notLoggedIn {
	display: grid;
}

.login {
	text-align: center;
}

.register {
	display: none;
	text-align: center;
}

.popup {
	display: none;
	position: absolute;
	background-color: grey;
	align-self: center;
	flex-direction: column;
	padding: 4px;
	width: 25%;
	text-align: center;
	margin: auto;
}

.loggedIn {
	display: none;
	grid-template-columns: 2fr 10fr 1fr;
	grid-template-rows: 1fr 1fr 2fr;
	grid-template-areas: 
		"Public Info User"
		"Public Message Message"
		"Private Message Message";
	width: 100%;
	height: 100vh;
}

.channelsPublic {
	grid-area: Public;
}

.channelsPrivate {
	grid-area: Private;
}

.channelInfo {
	grid-area: Info;
	white-space: pre-line;
	line-height: 15px;
}

.channelMessage {
	grid-area: Message;
	white-space: pre-line;
	line-height: 15px;
}

.user {
	grid-area: User;
}

.channelCreateForm {
	display: none;
	position: absolute;
	background-color: red;
	align-self: center;
	flex-direction: column;
	padding: 4px;
	width: 20vw;
	text-align: center;
	margin: auto;
}